@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1565955321436'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1565955321436#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1565955321436') format('woff'),
  url('../fonts/iconfont.ttf?t=1565955321436') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_add:before {
  content: "\eb8f";
}

.icon-icon_addmessage:before {
  content: "\eb90";
}

.icon-icon_addresslist:before {
  content: "\eb91";
}

.icon-icon_affiliations_li:before {
  content: "\eb92";
}

.icon-icon_addperson:before {
  content: "\eb93";
}

.icon-icon_boss:before {
  content: "\eb94";
}

.icon-icon_calendar:before {
  content: "\eb95";
}

.icon-icon_camera:before {
  content: "\eb96";
}

.icon-icon_compile:before {
  content: "\eb97";
}

.icon-icon_details:before {
  content: "\eb98";
}

.icon-icon_community_line:before {
  content: "\eb99";
}

.icon-icon_discovery:before {
  content: "\eb9a";
}

.icon-icon_delete:before {
  content: "\eb9b";
}

.icon-icon_dispose:before {
  content: "\eb9c";
}

.icon-icon_cspace:before {
  content: "\eb9d";
}

.icon-icon_exchange:before {
  content: "\eb9e";
}

.icon-icon_down:before {
  content: "\eb9f";
}

.icon-icon_im_more:before {
  content: "\eba0";
}

.icon-icon_link:before {
  content: "\eba1";
}

.icon-icon_mobilephone:before {
  content: "\eba2";
}

.icon-icon_dmail:before {
  content: "\eba3";
}

.icon-icon_left:before {
  content: "\eba4";
}

.icon-icon_next_arrow:before {
  content: "\eba5";
}

.icon-icon_namecard:before {
  content: "\eba6";
}

.icon-icon_photo:before {
  content: "\eba7";
}

.icon-icon_redpacket:before {
  content: "\eba8";
}

.icon-icon_roundclose:before {
  content: "\eba9";
}

.icon-icon_roundreduce:before {
  content: "\ebaa";
}

.icon-icon_QRcode:before {
  content: "\ebab";
}

.icon-icon_roundadd:before {
  content: "\ebac";
}

.icon-icon_refresh:before {
  content: "\ebad";
}

.icon-icon_search:before {
  content: "\ebae";
}

.icon-icon_scan:before {
  content: "\ebaf";
}

.icon-icon_principal:before {
  content: "\ebb0";
}

.icon-icon_share:before {
  content: "\ebb1";
}

.icon-icon_sketch:before {
  content: "\ebb2";
}

.icon-icon_setting:before {
  content: "\ebb3";
}

.icon-icon_signal:before {
  content: "\ebb4";
}

.icon-icon_work:before {
  content: "\ebb5";
}

.icon-icon_warn:before {
  content: "\ebb6";
}

.icon-icon_task_done:before {
  content: "\ebb7";
}

.icon-icon_meeting:before {
  content: "\ebb8";
}

